# Python cache
__pycache__/
*.pyc
.mypy_cache/

# Virtual environments
diffusion-models/

# Datasets
data/

# VSCode
.vscode/

# Checkpoints
ddpm/aditey/cifar-checkpoints/
ddpm/aditey/mnist-checkpoints/

# Ignore specific checkpoint directories
ddpm/jashandeep/checkpoints_FMNIST/
ddpm/jashandeep/checkpoints_MNIST/

# CATCH-ALL: Ignore any model weights no matter where they are saved
*.pth
*.pt
*.ckpt