# Python cache
__pycache__/
*.pyc
.mypy_cache/

# Virtual environments
diffusion-models/

# Datasets
data/

# VSCode
.vscode/

# Checkpoints
ddpm/aditey/cifar-checkpoints/
ddpm/aditey/mnist-checkpoints/